@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    padding: 10px;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.content {
    flex: 1;
    margin-left: 80px;
    margin-top: 40px;
    padding: 1.5rem;
}

.body {
    min-height: 90vh;
    box-shadow: 0 0  2px gray;
    background-color: #F4F4F4;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}


.logo h6 {
    font-size: 0.8rem;
    text-align: center;
    margin: 20px 0;
}

.not-found {
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.spinner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


/* Admin Dashboard Styles */
.sidebar {
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    z-index: 10;
    padding: 10px;
    width: 90px;
    border-radius: 5px;
    box-shadow: 0 0  2px gray;
    background-color: #F4F4F4;
    color: #FFFFFF;
    overflow-y: auto;
}

.sidebar--logo {
    width: 50px;
    margin: 10px;
}

.sidebar--logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    margin-top: 10px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.active {
    background-color: darkgreen;
    padding: 10px;
}

.menu-item.active a {
    color: #fff;
}

.menu-item.active i {
    color: #fff;
}

.active a,
.active i {
    color: rgb(51, 1, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
    box-shadow: 0 0  2px gray;
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    color: #fff;
}

.header-title {
    font-size: 1.2rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-title h4 {
    margin-top: 5px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin: 0 15px;
}

.header-content i {
    font-size: 1.5rem;
    margin-top: 8px;
}

.header-content a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

.submit__button {
    color: #fff;
    background-color: darkgreen;
    border: none;
}

.user_submit {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    gap: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    margin-top: 0.5rem;
}

.custom-card {
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 20px;
}


.details--card {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.details--header {
    display: flex;
    justify-content: space-between;
}

.details--header h2 {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.details--header p {
    font-size: 0.8rem;
    color: #777;
    margin: 10px 0;
}

.details--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 12px;
}

.details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.details span {
    font-weight: bold;
    margin-right: 10px;
}

.company--logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.company--logo img {
    max-width: 100px;
    max-height: 100px;
}

