@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background: #f8fafc;
}

h2 {
    font-size: 1.2rem;
}

.container {
    width: 75%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 3rem auto;
}

input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    margin-bottom: 0.5rem;
    outline: none;
}

label {
    margin-bottom: 0.5rem;
}

::placeholder {
    color: #94a3b8;
}

.btn {
    background-color: green;
    color: #fff;
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    transition: all 400ms ease;
}

.btn:hover {
    background: lightgreen;
    color: black;
}

.navbar {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 100%;
    border-bottom: 1px solid green;
    justify-content: flex-end;
    padding: 0 1rem;
}

.active {
    color: #645cff;
}

.link {
    color: #64748b;
}