@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: coral;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 1.2rem;
}

.container {
    width: 75%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input {
    width: 50%;
    padding: 0.8rem 1.2rem;
    outline: none;
}

.btn {
    width: 40%;
    background-color: green;
    color: #fff;
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    transition: all 400ms ease;
}

.btn:hover {
    background: lightgreen;
    color: black;
}